@import url("reset.css");
@font-face {
  font-family: "Giliam"; 
  src: url("/fonts/GilamDemo-Black.otf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
body{
  font-family: "Giliam";
  }


.container {
  max-width: 1460px;
  margin: 0 auto;
}
header {
  margin-top: 46px;
  margin-bottom: 128px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
body {
  background: #171717;
}

.header__logo img {
  width: 216px;
}
.call__button {
  border: 1px solid #e4b564;
  display: flex;
  align-items: center;
}
.call__button img {
  width: 12.96px;
  margin-left: 26px;
}
.call__button a {
  color: #e4b564;
  margin: 10px 25px 10px 10px;
}
.first__description {
  color: white;
  margin-bottom: 40px;
}
.heating__networks {
  margin-bottom: 161px;
}
.first__description h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  margin-bottom: 41px;
}
.first__description p {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  
  
}
.heating__networks_blocks {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
  grid-template-rows: repeat(2, 466px);
}
.heating__networks_blocks p {
  color: white;
}
.ground {
  background: #634f2c;
  grid-column: 1/3;
}
.heating__networks_blocks li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.underground {
  background: #b4a385;
  grid-column: 3/5;
}
.chanel {
  background: #e4b564;
  grid-column: 5/7;
}
.camera {
  background: #635a4a;
  grid-column: 1/4;
}
.couldron {
  background: #b08c4d;
  grid-column: 4/7;
}
.building__park{
  margin-bottom: 190px;
}
.building__park h2,
p {
  color: white;
}
.building__park_blocks {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  grid-template-rows: repeat(10, 60px);
}
.sludge_machine {
  background: #0e0e0e;
  grid-column: 1/2;
  grid-row: 1/5;
}
.washing_machine {
  background: #242424;
  grid-column: 2/3;
  grid-row: 1/6;
}
.backhoe {
  background: #1f1f1f;
  grid-column: 3/4;
  grid-row: 1/4;
}
.loader {
  background: #1f1f1f;
  grid-column: 1/2;
  grid-row: 5/11;
}
.Excavator {
  grid-column: 2/3;
  grid-column: 2/3;
  grid-row: 6/11;
  background: #e4b564;
}
.kamaz {
  background: #0e0e0e;
  grid-column: 3/4;
  grid-row: 4/8;
}
.rink {
  background: #0a0909;
  grid-column: 3/4;
  grid-row: 8/11;
}
/* .building__park_menu{
    max-height: 897px;
} */

.building__park h2 {
  font-size: 50px;
  margin-bottom: 94px;
}
.building__park_blocks p {
  margin: 44px 0 0 51px;
  font-size: 20px;
}
.Excavator p {
  color: #000000;
}
.clients__projects{
  
 
}
.clients__projects h3, p, a{
  color: white;
}
.clients__projects_blocks{
  display: grid ;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 391px);
}
.clients__projects_blocks li{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.clients__projects_blocks p{

}
.eid{
  background: #634F2C;
}
.mabnc img{
  margin-bottom: 16px;
}
.mabnc{
  background: rgba(232, 210, 171, 0.76);
 
  
}
.arsenal{
  background: #E4B564;
}
.arsenal__second{
  background: #635A4A;

}
.setgroup{
  background: #B08C4D;

}
.euroinvest{
  background: #634F2C;

}
.clients__projects_header_wrap{
display: flex;
justify-content: space-between;
margin-bottom: 72px;
}
.clients__projects_header_wrap h3{
  font-size: 50px;
  margin-top: 173px;
}
.product__button{
  font-size: 18px;
  color: #E4B564;
  padding: 10px 40px 10px 40px;
  border: 1px solid #E4B564;
  display: flex;
  align-items: center;
 margin-top: 173px;
}
.clients__projects__wrap{
  background: #0E0E0E;
}
footer{
  background: #171717;
  margin-top: 238px;
}
